.Box {
    background-color: black;
    display: block;
    margin: 5px;
    height: 50px;
    width: 50px;
}

.BoxWhite {
    background-color: grey;
    display: block;
    margin: 5px;
    height: 50px;
    width: 50px;
}

.BoxGrey {
    display: block;
    margin: 5px;
    height: 50px;
    width: 50px;
    background: none;
}